In [1]:
# Pandas is open source python package that is widely used for data analysis
# / data science.

# Pandas has a numerous builtin function that makes data scientist easier to perform various activities.
# Such as, Data Manipulation
# Data Cleansing
# Data Fill
# Data Normalization
# Data Visulaization
# Statical Analysis
# Data Inspection
# Loading and saving data
# And much more....

# In particularly, it provides data structures and opearions for manipulating
# numerical data and time series.

# There are two data structures that are majorly used:-
# Series : One dimensional Data Structure
# DataFrame : Multi dimensional array

### Series

In [2]:
# Series is single dimensional indexed data in Pandas
# It is a collection of item where each item has a label with which we can retrive them
# Easiest way to understand Series is to visualize about two column of data.
# where first column is speacial index , a lot like keys in a dictionary and second column is our actual data.
# it is important to note that actual data must have its own column name so that actual data can be reterived by .name

# It is very useful when merging multiple column of a data.

In [3]:
# Now let's first import pandas package to get started

import pandas as pd

In [9]:
# Now let's create a series of student ie. Potter, hermoine, Ron

# easiest way to create a series is to pass a array like object such as list into pd.series function of pandas
# When we pass the list to series function pandas automatically assigns an index starting with zero and sets the bame of the series


# For instance
names = ["Potter", "Hermoine", "Ron"]

data = pd.Series(names)

# here we can see that pandas itself identified the datatype of actual data as an object
# also assigns index to our data.
data

0      Potter
1    Hermoine
2         Ron
dtype: object

In [17]:
# So the series works just like a normal list as we can get each item by their index
# for example

[data[0], data[1],data[2]]

['Potter', 'Hermoine', 'Ron']

In [18]:
# We dont have to use string. we can pass whole numbers, for instance,

# we could see the that pandas identfied data type as int 32

x = [1,2,3,4,5]
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
# Now, there are lot of other typing details that exists for perfomance in pandas 
# for instance we have a list of names where few of names are None

# So in that case python have a None type to indicate lack of data 
# and when we pass the list into Series function pandas do some data conversion and
# and inserts None and used object type to define missing data 
# for example,

names = ['Potter', 'Hermoine', None]
pd.Series(names)

# Here we can see how pandas inserted None objects where data is missing.

0      Potter
1    Hermoine
2        None
dtype: object

In [22]:
# However, if we create a list of numbers, integer or float  and some data is msising
# So in that case pandas uses NAN (not a number) in order to fill missing data.

# For example

arr = [1,2,3,4, None]
pd.Series(arr)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [29]:
# here we can see pandas did some type conversion and converted None value into floating point
# value designated as NaN

# But i wonder why pandas converted integer value into floating point 
# it could have leave this in integer instead of changing to float
# the anwsers is
# the nan is floating point number and because int can be typecast into floating point
# pandas went and converted integer into floats.

# Pandas type cast the data into most general data type.

# Point to remember 
# The nan is not equivalent to None these both are totally different things.
# So when we try do some equality test, the rsult is false

# for example
import numpy as np
print(np.nan == None)    

# Here we get the result false which simple denotes that nan is not equivalent ot none
# if we try to check
print(np.nan == np.nan)

# this also returns false because np.nan is a type of object and since we have created two objects differently the address of these objects are stored at different location
# in the memory and trying to equality test on two different objetcs always return false


# Instead you need to use speacial funciton to check for the presence of not a number

np.isnan(np.nan)

# np.isnan function helps us to do that
# So when you see Nan value it meaning is similar to None but its a numerical value and treated differently for efficiency reasons.

False
False

True

In [34]:
# So far we have seen that Pandas automatically assign index starts from zero to actual data
# However there are some way by which we can assigns our own indexed to the data

# For instance

index = ["Daniel", "Emma", "Ruper"]
data = ["harry", "hermoine", "Ron"]
print(pd.Series(data, index = index))
# So there is another argument with name index inside pd.Series function which let you to do this stuff.
# However we have another method to do same using dictionaries

# For instance

dictionary = {
    "Daniel" : "Harry",
    "Emma" : "Hermoine",
    "Ruper" : "Ron"
}

x = pd.Series(dictionary)
# here pandas created a series where all the indexes are the keys of dictionary and actual data is value of dictionary
x

Daniel       harry
Emma      hermoine
Ruper          Ron
dtype: object

Daniel       Harry
Emma      Hermoine
Ruper          Ron
dtype: object

In [35]:
# Once the series has been created we can get the index object using index attribute.
x.index

Index(['Daniel', 'Emma', 'Ruper'], dtype='object')

In [38]:
x.values # Similarlt we can access the list of values

array(['Harry', 'Hermoine', 'Ron'], dtype=object)

In [43]:
dictionary = {
    "Daniel" : "Harry",
    "Emma" : "Hermoine",
    "Ruper" : "Ron"
}

pd.Series(dictionary, index = ["Ruper","Emma","Harry"])
# Here you see that index you are passing in the Series have one key missing when compared to our dataset
# So in the situation such like this pandas created assigned nan to that place which signifies missing value

Ruper         Ron
Emma     Hermoine
Harry         NaN
dtype: object

### Querying

In [45]:
# Now we will learn how to query an item from the series.
# Well,In Pandas provides we have two methods to query an item 
# 1. query by index position
# 2. quwery by index value

# To query by position pandas have an attribute with name "iloc".
# To query by index label pandas have an attruibute with name "loc".

# Let's understand these with an example


dictionary = {
    "Daniel" : "Harry",
    "Emma" : "Hermoine",
    "Ruper" : "Ron"
}

s = pd.Series(dictionary)
s

Daniel       Harry
Emma      Hermoine
Ruper          Ron
dtype: object

In [48]:
s.iloc[0]  # here we see that iloc is used for query an item using position

# Pandas assignes all rows in a series with a number starting up from a zero
# If we dont't give an index to Series when querying , the position and the label are effectively the same value.

'Harry'

In [50]:
# Similarly we can also get an item by querying a series using the index name
s.loc["Emma"]
# Here you can see that we are using loc attribute for querying series by index name

'Hermoine'

In [54]:
# Keep in mind that loc and iloc are not methods these are attributes so we dont
# use parenthesis to query them instead we use square brackets which is called indexing operator.


# But these attributes are veru useful when we have data present in the form
# of multidimension like dataframe.
# For Series pandas tries to make our code a bit more easier to understand, readable,
# provides sort of smart syntax using the indexing operators.
# For instance if you pass an integer parameter it will query like an iloc attribute

# and if you pass an index name then it will work like loc attribute


print(s[0])       # iloc
print(s["Ruper"]) # loc

Harry
Ron

In [67]:
# Now we know how to query the data from the Series
# So let's get our hands dirty working with the data and do some sort of operations.
# # For example , let's get an average of data present in a Series

marks = pd.Series([100,90,34,56,77])
total = 0
for i in marks:
    total += i
    
print(total / len(marks))

71.4

In [70]:
# This is very simple programming stuff and you know its very slow.
# Modern Programming has various methods to do the same stuff and apparantly
# they are much faster than the above method
# For instance,

import numpy as np
np.sum(marks)/len(marks)

71.4

In [125]:
# Now both the methods generates the same value , but is one actually fatster?
# Let's check 
# Jupyter has a magic function which can help.

# First, let's create a big series of random number

arr = pd.Series(np.random.randint(0,1000,10000))

In [126]:
arr.head()

0    306
1    781
2    885
3    477
4    944
dtype: int32

In [127]:
len(arr)

10000

In [128]:
# Now here the magin function help us to find the running time of both methods
# Here we're gonna use timeit magical function
# These starts with two %% sign and wrap up the code to jupyter cell

In [129]:
%%timeit -n 100
total = 0
for i in arr:
    total += i
    
total / len(arr)

1.36 ms ± 231 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [130]:
# Not bad nut let's try out timeit functon with numpy function

In [131]:
%%timeit -n 100
np.sum(arr)/len(arr)

110 µs ± 13.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [132]:
# Woahhh, huge difference isn't it

In [133]:
# Now let's understand the concept of broadcasting
# With broadcasting you can apply an operations to every value in the series, to change each value i series


# For example

arr.head()

0    306
1    781
2    885
3    477
4    944
dtype: int32

In [134]:
arr+=2
arr.head()

0    308
1    783
2    887
3    479
4    946
dtype: int32

In [135]:
# here we can see that after applying the opeation arr+=2 broadcasting
# technique apply this operation to every value present inside an array
# and result is in front of you.

# the procedural technique to this is to iterate all over an array and assign each index
# with an incremented value.

# Pandas does support iterating over a  series like a dictionary allowing you to unpack values easily.

for label, value in arr.iteritems():
    # label return index and value return actual data
    arr.iloc[label] = value+2
    
arr.head()

0    310
1    785
2    889
3    481
4    948
dtype: int32

In [137]:
# Until now we have only seen the examples of Series where index values were 
# unique. Now we will take the example that have not uniue indexes

# lets create an Series of Students with the grades

grades = pd.Series({
    "Allen" : "A",
    "Molly" : "B",
    "Bridge" : "K",
   
})
grades

Allen     A
Molly     B
Bridge    K
dtype: object

In [139]:
grades_b = pd.Series(["A","C","D"], index = ["Mark","Mark", "Mark"])
grades_b

Mark    A
Mark    C
Mark    D
dtype: object

In [143]:
# You see here pandas does not have any problem with same indxed it manages to put
# the data into data structure inspite of same index value


# Let's append grades_b and grades and store that data into another variable

combined = grades.append(grades_b)
combined

Allen     A
Molly     B
Bridge    K
Mark      A
Mark      C
Mark      D
dtype: object

In [ ]:
# There are two things that are taken under consideration
# First thing is, Since the data is all in String so there is not problem 
# But when data is present is different formats Pandas try to infer the best data types to use


# Another things is append method doesn't actually change the underlying Series Object
# instead it returns the whole new Series made up of two appended together