In [1]:
# Pandas is open source python package that is widely used for data analysis
# / data science.

# Pandas has a numerous builtin function that makes data scientist easier to perform various activities.
# Such as, Data Manipulation
# Data Cleansing
# Data Fill
# Data Normalization
# Data Visulaization
# Statical Analysis
# Data Inspection
# Loading and saving data
# And much more....

# In particularly, it provides data structures and opearions for manipulating
# numerical data and time series.

# There are two data structures that are majorly used:-
# Series : One dimensional Data Structure
# DataFrame : Multi dimensional array

### Series

In [2]:
# Series is single dimensional indexed data in Pandas
# It is a collection of item where each item has a label with which we can retrive them
# Easiest way to understand Series is to visualize about two column of data.
# where first column is speacial index , a lot like keys in a dictionary and second column is our actual data.
# it is important to note that actual data must have its own column name so that actual data can be reterived by .name

# It is very useful when merging multiple column of a data.

In [3]:
# Now let's first import pandas package to get started

import pandas as pd

In [9]:
# Now let's create a series of student ie. Potter, hermoine, Ron

# easiest way to create a series is to pass a array like object such as list into pd.series function of pandas
# When we pass the list to series function pandas automatically assigns an index starting with zero and sets the bame of the series


# For instance
names = ["Potter", "Hermoine", "Ron"]

data = pd.Series(names)

# here we can see that pandas itself identified the datatype of actual data as an object
# also assigns index to our data.
data

0      Potter
1    Hermoine
2         Ron
dtype: object

In [17]:
# So the series works just like a normal list as we can get each item by their index
# for example

[data[0], data[1],data[2]]

['Potter', 'Hermoine', 'Ron']

In [18]:
# We dont have to use string. we can pass whole numbers, for instance,

# we could see the that pandas identfied data type as int 32

x = [1,2,3,4,5]
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
# Now, there are lot of other typing details that exists for perfomance in pandas 
# for instance we have a list of names where few of names are None

# So in that case python have a None type to indicate lack of data 
# and when we pass the list into Series function pandas do some data conversion and
# and inserts None and used object type to define missing data 
# for example,

names = ['Potter', 'Hermoine', None]
pd.Series(names)

# Here we can see how pandas inserted None objects where data is missing.

0      Potter
1    Hermoine
2        None
dtype: object

In [22]:
# However, if we create a list of numbers, integer or float  and some data is msising
# So in that case pandas uses NAN (not a number) in order to fill missing data.

# For example

arr = [1,2,3,4, None]
pd.Series(arr)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [29]:
# here we can see pandas did some type conversion and converted None value into floating point
# value designated as NaN

# But i wonder why pandas converted integer value into floating point 
# it could have leave this in integer instead of changing to float
# the anwsers is
# the nan is floating point number and because int can be typecast into floating point
# pandas went and converted integer into floats.

# Pandas type cast the data into most general data type.

# Point to remember 
# The nan is not equivalent to None these both are totally different things.
# So when we try do some equality test, the rsult is false

# for example
import numpy as np
print(np.nan == None)    

# Here we get the result false which simple denotes that nan is not equivalent ot none
# if we try to check
print(np.nan == np.nan)

# this also returns false because np.nan is a type of object and since we have created two objects differently the address of these objects are stored at different location
# in the memory and trying to equality test on two different objetcs always return false


# Instead you need to use speacial funciton to check for the presence of not a number

np.isnan(np.nan)

# np.isnan function helps us to do that
# So when you see Nan value it meaning is similar to None but its a numerical value and treated differently for efficiency reasons.

False
False

True

In [34]:
# So far we have seen that Pandas automatically assign index starts from zero to actual data
# However there are some way by which we can assigns our own indexed to the data

# For instance

index = ["Daniel", "Emma", "Ruper"]
data = ["harry", "hermoine", "Ron"]
print(pd.Series(data, index = index))
# So there is another argument with name index inside pd.Series function which let you to do this stuff.
# However we have another method to do same using dictionaries

# For instance

dictionary = {
    "Daniel" : "Harry",
    "Emma" : "Hermoine",
    "Ruper" : "Ron"
}

x = pd.Series(dictionary)
# here pandas created a series where all the indexes are the keys of dictionary and actual data is value of dictionary
x

Daniel       harry
Emma      hermoine
Ruper          Ron
dtype: object

Daniel       Harry
Emma      Hermoine
Ruper          Ron
dtype: object

In [35]:
# Once the series has been created we can get the index object using index attribute.
x.index

Index(['Daniel', 'Emma', 'Ruper'], dtype='object')

In [38]:
x.values # Similarlt we can access the list of values

array(['Harry', 'Hermoine', 'Ron'], dtype=object)

In [42]:
dictionary = {
    "Daniel" : "Harry",
    "Emma" : "Hermoine",
    "Ruper" : "Ron"
}

pd.Series(dictionary, index = ["Ruper","Emma","Harry"])
# Here you see that index you are passing in the Series have one key missing when compared to our dataset
# So in the situation such like this pandas created assigned nan to that place which signifies missing value

Ruper         Ron
Emma     Hermoine
Harry         NaN
dtype: object