In [26]:
# Here in this notebook we are gonna talk about Date and Time function of pandas

# Pandas deals with various time and date classes such as
# Timestamp, Datetimeindex, Period, Period Index

# Let's import pandas to understand timestamp more clearly
import pandas as pd
import numpy as np

In [3]:
# Let's create a time stamp using a  string 9/1/2019 10:05AM 
# Timestamp is interchangeable with python datetime in most cases.

pd.Timestamp("9/1/2020 10:05AM")

Timestamp('2020-09-01 10:05:00')

In [4]:
# We can also create timestamp by passing year, month, date , hour , min, second seperately in a fllowing manner


pd.Timestamp(2020,12,9,10,5,23)

Timestamp('2020-12-09 10:05:23')

In [8]:
# Time stamp aslo have some menaingful attributes, such as isweekdays(), which shows the weekday of the timesamp

# remember 1 represents monday and 7 represents sunday
pd.Timestamp(2020,12,9,10,5,23).isoweekday()

3

In [9]:
# also we can get every parameter that we have passed seperately

pd.Timestamp(2020,12,9,10,5,23).second

23

##### Period

In [11]:
# Suppose we're not interested in specific point of time instead we want a particular
# span of time. THis is where period class comes into play.

pd.Period("2016-01")

Period('2016-01', 'M')

In [13]:
pd.Period("2016-01-23")

Period('2016-01-23', 'D')

In [14]:
pd.Period("2016-1-23")+5

Period('2016-01-28', 'D')

In [17]:
# Datetime index and Period zindex


# The index of timestamp of datetime index
dfa = pd.Series(list('abc'),[pd.Timestamp("2016-12-1"), pd.Timestamp("2016-12-02"), pd.Timestamp("2016-02-3")])

In [18]:
dfa

2016-12-01    a
2016-12-02    b
2016-02-03    c
dtype: object

In [20]:
type(dfa.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [21]:
# Similarly index of Period class is PeriodIndex

In [22]:
# Converting to Datetime

In [28]:
# Let's create a list of diffrent representation of date that come in use on daily basis

date = ["2 June 2013","Aug 29, 2014","2015-06-26","7/12/16"]
ts3 = pd.DataFrame(np.random.randint(10,100,(4,2)), index=date, columns = list('ab'))

In [29]:
ts3

               a   b
2 June 2013   91  94
Aug 29, 2014  69  61
2015-06-26    94  91
7/12/16       27  59

In [31]:
ts3 = pd.to_datetime(ts3.index)

In [32]:
# Timedeltas are diffrences in time not same as period but conceptually similar.
# Like diff between sep3 and sep 2 we get tomedelta of 2 days

In [33]:
pd.Timestamp("2016-12-5") - pd.Timestamp("2016-11-1")

Timedelta('34 days 00:00:00')

In [34]:
# we can aslo add timedelata to timestamp

pd.Timestamp("9/3/2016") + pd.Timedelta("12D 3H")

Timestamp('2016-09-15 03:00:00')

In [35]:
dates = pd.date_range("10-01-2016", periods = 9, freq="2W-SUN")# biweekly on sundays

In [39]:
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [40]:
dates = pd.date_range("10-01-2016", periods = 9, freq="B")# Business days

In [41]:
dates

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [42]:
# quarter-jube

dates = pd.date_range("10-01-2016", periods = 12, freq="QS-JUN")
dates

DatetimeIndex(['2016-12-01', '2017-03-01', '2017-06-01', '2017-09-01',
               '2017-12-01', '2018-03-01', '2018-06-01', '2018-09-01',
               '2018-12-01', '2019-03-01', '2019-06-01', '2019-09-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [53]:
date = pd.date_range("10-01-2016", periods=9, freq="2W-SUN")
df = pd.DataFrame({
    "Count1" : 100 + np.random.randint(-5,10,9).cumsum(),
    "Count2" : 120 + np.random.randint(-5,10,9)
},index=date)

In [54]:
df

            Count1  Count2
2016-10-02      99     125
2016-10-16      96     120
2016-10-30      95     124
2016-11-13      93     116
2016-11-27      92     125
2016-12-11     100     125
2016-12-25      97     129
2017-01-08     104     123
2017-01-22     100     124

In [57]:
# Suppose we want to know rhat the mean count for each month in our dataframes


df.resample('M').mean()

                Count1  Count2
2016-10-31   96.666667   123.0
2016-11-30   92.500000   120.5
2016-12-31   98.500000   127.0
2017-01-31  102.000000   123.5

In [58]:
# Converting higher frequency to lower frequency is called downsampling

In [59]:
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')

In [62]:
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5